body {
  font-family: "Hind Guntur", sans-serif;
}

form {
  text-align: center;
  padding: 20px;
}

input {
  border-radius: 10px;
  border: solid 1px;
  line-height: 2.5;
}

button {
  padding: 20px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 20px;
  font-family: monospace;
}

p {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

.weatherApp {
  max-width: 400px;
  margin: 20px auto;
  padding-top: 20px;
  border-style: solid;
  border-radius: 15px;
}

.textWeather {
  padding: 20px;
  color: #000;
  text-align: center;
}

.textWeather i {
  color: #000;
  font-size: 50px;
  padding-bottom: 15px;
}

.row {
  text-align: center;
  padding: 15px;
}

.info {
  text-align: center;
  padding: 40px;
}
