body {
  font-family: "Lato", sans-serif;
  background-color: #fbfbf8;
}

form {
  text-align: center;
  padding: 10px;
}

input {
  border-radius: 10px;
  border: solid 1px;
  line-height: 2.5;
}

button {
  padding: 20px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 20px;
}

p {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

a:link {
  text-decoration: none;
}

.active {
  color: #000;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #000;
}

.weatherApp {
  max-width: 400px;
  margin: 20px auto;
  padding-top: 20px;
  border-style: solid;
  border-radius: 15px;
}

.textWeather {
  color: #000;
  text-align: center;
}

.textWeather i {
  color: #000;
  font-size: 50px;
  padding-bottom: 15px;
}

.dailyConditions {
  padding: 0px 3px;
  font-weight: bolder;
}

.degrees {
  font-size: 16px;
  font-weight: bold;
}

.row {
  text-align: center;
  padding: 15px;
}

.info {
  text-align: center;
  padding: 40px;
}

.weather-forecast {
  margin: 0px auto;
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.weather-forecast-date {
  font-weight: bolder;
}
.weather-forecast-temperature-min {
  color: grey;
}

.col-4 {
  padding: 5px 5px 10px 5px;
}

#description {
  text-transform: capitalize;
}
